<button data-action="click->trivia#selectAnswer" class="flex justify-center items-center border-2 border-white answer-card cursor-pointer hover:bg-gray-300 transition-all duration-500">
  <h4 class="text-2xl text-black px-10 py-4" data-target="trivia.answer">Tandem</h4>
</button>
